<center><h3>{{ view.kwargs.model|title }}s <a href="../create">+</a><br/>
-----------------------------------------</h3>

  <table  border="1">

    <thead>
      <tr>
	<th>Name</th>
	<th>Status</th>
	{% if view.kwargs.model == 'state' %}<th>Country</th>{% endif %}
	<th>Actions</th>
      </tr>
    </thead>

    <tbody>
      {% for obj in object_list %}
      <tr>
        <td>{{ obj.name }}</td>
	{% if view.kwargs.model == 'state' %}<td>{{ obj.country }}</td>{% endif %}
        <td>{{ obj.get_active_display }}</td>
        <td>
	  <a href="../update/{{ obj.pk }}/">Update</a>
	  <a href="../delete/{{ obj.pk }}/">Delete</a>
	  <a href="../status/{{ obj.pk }}/">Change Status</a>
	</td>
      </tr>
      {% endfor %}
    </tbody>

  </table>

</center>
